<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.SysFileMapper">
  <resultMap id="BaseResultMap" type="com.lanou.bean.SysFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="f_name" jdbcType="VARCHAR" property="fName" />
    <result column="f_time" jdbcType="TIMESTAMP" property="fTime" />
    <result column="f_path" jdbcType="VARCHAR" property="fPath" />
    <result column="f_size" jdbcType="BIGINT" property="fSize" />
    <result column="f_download" jdbcType="INTEGER" property="fDownload" />
    <result column="f_type" jdbcType="INTEGER" property="fType" />
    <result column="f_description" jdbcType="VARCHAR" property="fDescription" />
    <result column="f_name_old" jdbcType="VARCHAR" property="fNameOld" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, f_name, f_time, f_path, f_size, f_download, f_type, f_description, f_name_old, 
    md5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanou.bean.SysFile">
    insert into sys_file (id, user_id, f_name, 
      f_time, f_path, f_size, 
      f_download, f_type, f_description, 
      f_name_old, md5)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{fName,jdbcType=VARCHAR}, 
      #{fTime,jdbcType=TIMESTAMP}, #{fPath,jdbcType=VARCHAR}, #{fSize,jdbcType=BIGINT}, 
      #{fDownload,jdbcType=INTEGER}, #{fType,jdbcType=INTEGER}, #{fDescription,jdbcType=VARCHAR}, 
      #{fNameOld,jdbcType=VARCHAR}, #{md5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.bean.SysFile">
    insert into sys_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="fName != null">
        f_name,
      </if>
      <if test="fTime != null">
        f_time,
      </if>
      <if test="fPath != null">
        f_path,
      </if>
      <if test="fSize != null">
        f_size,
      </if>
      <if test="fDownload != null">
        f_download,
      </if>
      <if test="fType != null">
        f_type,
      </if>
      <if test="fDescription != null">
        f_description,
      </if>
      <if test="fNameOld != null">
        f_name_old,
      </if>
      <if test="md5 != null">
        md5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="fName != null">
        #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fTime != null">
        #{fTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fPath != null">
        #{fPath,jdbcType=VARCHAR},
      </if>
      <if test="fSize != null">
        #{fSize,jdbcType=BIGINT},
      </if>
      <if test="fDownload != null">
        #{fDownload,jdbcType=INTEGER},
      </if>
      <if test="fType != null">
        #{fType,jdbcType=INTEGER},
      </if>
      <if test="fDescription != null">
        #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="fNameOld != null">
        #{fNameOld,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null">
        #{md5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.bean.SysFile">
    update sys_file
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="fName != null">
        f_name = #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fTime != null">
        f_time = #{fTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fPath != null">
        f_path = #{fPath,jdbcType=VARCHAR},
      </if>
      <if test="fSize != null">
        f_size = #{fSize,jdbcType=BIGINT},
      </if>
      <if test="fDownload != null">
        f_download = #{fDownload,jdbcType=INTEGER},
      </if>
      <if test="fType != null">
        f_type = #{fType,jdbcType=INTEGER},
      </if>
      <if test="fDescription != null">
        f_description = #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="fNameOld != null">
        f_name_old = #{fNameOld,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null">
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.bean.SysFile">
    update sys_file
    set user_id = #{userId,jdbcType=INTEGER},
      f_name = #{fName,jdbcType=VARCHAR},
      f_time = #{fTime,jdbcType=TIMESTAMP},
      f_path = #{fPath,jdbcType=VARCHAR},
      f_size = #{fSize,jdbcType=BIGINT},
      f_download = #{fDownload,jdbcType=INTEGER},
      f_type = #{fType,jdbcType=INTEGER},
      f_description = #{fDescription,jdbcType=VARCHAR},
      f_name_old = #{fNameOld,jdbcType=VARCHAR},
      md5 = #{md5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>