<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.lanou.bean.SysLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="log_type" jdbcType="INTEGER" property="logType" />
    <result column="oper_object" jdbcType="VARCHAR" property="operObject" />
    <result column="oper_table" jdbcType="VARCHAR" property="operTable" />
    <result column="oper_id" jdbcType="INTEGER" property="operId" />
    <result column="oper_type" jdbcType="VARCHAR" property="operType" />
    <result column="oper_remark" jdbcType="VARCHAR" property="operRemark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, log_type, oper_object, oper_table, oper_id, oper_type, oper_remark, create_time, 
    create_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanou.bean.SysLog">
    insert into sys_log (id, log_type, oper_object, 
      oper_table, oper_id, oper_type, 
      oper_remark, create_time, create_id
      )
    values (#{id,jdbcType=INTEGER}, #{logType,jdbcType=INTEGER}, #{operObject,jdbcType=VARCHAR}, 
      #{operTable,jdbcType=VARCHAR}, #{operId,jdbcType=INTEGER}, #{operType,jdbcType=VARCHAR}, 
      #{operRemark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.bean.SysLog">
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logType != null">
        log_type,
      </if>
      <if test="operObject != null">
        oper_object,
      </if>
      <if test="operTable != null">
        oper_table,
      </if>
      <if test="operId != null">
        oper_id,
      </if>
      <if test="operType != null">
        oper_type,
      </if>
      <if test="operRemark != null">
        oper_remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createId != null">
        create_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="logType != null">
        #{logType,jdbcType=INTEGER},
      </if>
      <if test="operObject != null">
        #{operObject,jdbcType=VARCHAR},
      </if>
      <if test="operTable != null">
        #{operTable,jdbcType=VARCHAR},
      </if>
      <if test="operId != null">
        #{operId,jdbcType=INTEGER},
      </if>
      <if test="operType != null">
        #{operType,jdbcType=VARCHAR},
      </if>
      <if test="operRemark != null">
        #{operRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.bean.SysLog">
    update sys_log
    <set>
      <if test="logType != null">
        log_type = #{logType,jdbcType=INTEGER},
      </if>
      <if test="operObject != null">
        oper_object = #{operObject,jdbcType=VARCHAR},
      </if>
      <if test="operTable != null">
        oper_table = #{operTable,jdbcType=VARCHAR},
      </if>
      <if test="operId != null">
        oper_id = #{operId,jdbcType=INTEGER},
      </if>
      <if test="operType != null">
        oper_type = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="operRemark != null">
        oper_remark = #{operRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.bean.SysLog">
    update sys_log
    set log_type = #{logType,jdbcType=INTEGER},
      oper_object = #{operObject,jdbcType=VARCHAR},
      oper_table = #{operTable,jdbcType=VARCHAR},
      oper_id = #{operId,jdbcType=INTEGER},
      oper_type = #{operType,jdbcType=VARCHAR},
      oper_remark = #{operRemark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>